.container {
    display: flex;
    background-color: #ffffff;
    flex-flow: row wrap;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
    padding: 10px;
    justify-content: center;
    align-content: space-around;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
}

#box1 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box1 img {
    height: 160px;
    width: 160px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 25px;
}

#label1 {
    min-width: 175px;
    max-width: 185px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    clear: both;
}

#label1:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

#box2 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box2 img {
    height: 160px;
    width: 160px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 25px;
}

#label2 {
    min-width: 175px;
    max-width: 185px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
}

#label2:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

#box3 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box3 img {
    height: 160px;
    width: 200px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 16px;
}

#label3 {
    min-width: 200px;
    max-width: 210px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
}

#label3:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

#box4 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box4 img {
    height: 160px;
    width: 190px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 20px;
}

#label4 {
    min-width: 200px;
    max-width: 210px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
}

#label4:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

#box5 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box5 img {
    height: 160px;
    width: 160px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 25px;
}

#label5 {
    min-width: 175px;
    max-width: 185px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
}

#label5:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

#box6 {
    clear: both;
    padding-top: 8px;
    flex-grow: 1;
    order: 1;
    margin: 10px;
}

#box6 img {
    height: 160px;
    width: 200px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
    position: relative;
    left: 15px;
}

#label6 {
    min-width: 200px;
    max-width: 210px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 54px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
}

#label6:hover {
    background-color: #ffffffe0;
    color: #4aaaa599;
}

@media screen and (min-width:1200px) {
    .container {
        justify-content: space-evenly;
        align-content: stretch;
    }
}