* {
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 15px;
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

html {
    background-color: #ffffff;
}

body {
    height: 100%;
    max-height: 960px;
    min-height: 100%;
    color: #777777;
    line-height: 125%;
    justify-content: space-around;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png);
}

header {
    border-bottom: 3px solid #777777;
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    clear: both;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#name {
    background-color: #4aaaa5;
    padding: 12px 16px;
    float: left;
    position: relative;
    left: 12.5%;
}

#name h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

header nav {
    position: absolute;
    right: 12.5%;
    bottom: 0;
    display: inline;
    margin: 0 auto;
    clear: both;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    background-color: #ffffff;
}

header nav li{
    display: inline-block;
}

header nav li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    text-decoration: none;
    text-align: center;
    padding: 6px 8px;
    display: inline-block;
}

header nav li:hover {
    background-color: #4aaaa5;
}

header nav li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

p {
    padding: 6px;
}

#aboutme {
    max-height: 960px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 15%;
    width: 75%;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    border-color: #dddddd;
    text-align: justify;
    border: solid 0.5px;
    flex: 1 0 auto;
}

#abt {
    background-color: #ffffff;
    color: #4aaaa5;
    border-color: #dddddd;
    border-bottom: 5px solid #dddddd;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 5px;
    clear: both;
}

#selfie {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 2px;
    float: left;
    border-color: #dddddd;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 4px;
} 

#selfie img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.footer {
    flex-shrink: 0;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    background-color: #666666;
    width: 100%;
    clear: both;
}

@media screen and (max-width: 768px) {
    header nav {
        position: absolute;
        right: 20%;
        clear: both;
    }

    #name {
        left: 12.5%;
    }
}

@media screen and (max-width: 700px) {
    header{
        position: static;
        float: left;
        left: 0;
        clear: both;
        border: none;
    }
    
    #name {
        width: 100%;
        float: left;
        left: 0;
    }

    header nav {
        position: relative;
        width: 100%;
        float: left;
        left: 0;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 2%;
        padding-left: 8.5%;
        margin-left: 6.25%;
        clear: both;
    }

    header nav ul {
        list-style-type: none;
    }

    header nav li {
        display: inline-block;
        margin: 0 auto;
    }

    header nav li a {
        display: inline;
        text-align: center;
    }

    #selfie {
        float: left;
        margin: 0 auto;
        margin-left: 12.5%;
        margin-right: 12.5%;
        margin-bottom: 2%;
    }

    #selfie::after {
        content: "";
        clear: both;
        display: table;
    }
}